/*RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=======PERSONAL CODE STARTS HERE======*/

/*custom style add-ons*/

@font-face {
	font-family: 'MKfont';
	src: url('mortalkombat1.ttf') format('truetype');
}


/*div {
	border: 1px solid magenta;
	box-sizing: border-box;
}*/
/*for layout purposes*/



body {
	position: relative;
	overflow-x: hidden;
	background-color: #222; 
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

#bodyColumn {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	min-width: 800px;
}

h3{
	font-size: 24pt;
	font-weight: 100;
	color: #f8f8f8;
}

a{
	text-decoration: none;
}

p {	
	color: #999;
	font-size: 20px;
	font-weight: 300;
}

hr {
	border: none;
	height: 1px;
	background: #999;
}


/*======= NAV BAR ======*/



#navButton{
	width: 75px;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}

#navWindow{
	width: 100%;
	height: 75px;
	background: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 2;
	left: -100%;
}

.navText{
	width: 100%;
	min-width: 600px;
	text-align: center;
	position: fixed;
	cursor: pointer;
}

.navText li{
	margin: auto auto;
	display: inline-block;
	padding: 0 2.5%;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
}

.navX{
	display: inline-block;
	width: 75px;
	position: absolute;
	line-height: 75px;
	height: 100px;
	text-align: center;
	z-index: 2;
	right: 0;
	font-weight: 100;
}

/*-----Jumbotron----*/

.jumbotron {
	/* background only for layout purposes*/
	background-color: #222;
	width:100%;
	height: 100vh;
	overflow:hidden;
	position: relative;
	cursor: default;
}

#bgvid{
	position: absolute;
	left: -25%;
	bottom: -100px;
	width: 150%;
	height: auto;
	z-index: 0;
	background: url(images/feastIntroNew.jpg) no-repeat;
	background-size: cover;
	min-width: 1600px;
	/*vertical-align: bottom;*/
}

.feastTitle {
	font-family: 'MKfont', Helvetica, Arial, sans-serif;
	position: absolute;
	font-size: 200px;
	width: 100%;
	text-align: center;
	line-height: 100vh;
	z-index: 1;
	color: white;
}

.poster {
	width:100%;
	/*min-height: 600px;*/
	min-width: 800px;
	margin-top: -30%;

}


/*---Index page Work bar---*/

#workBar {
	position: relative;
	background: #222;
	width: 100%;
	margin: 0;
	padding: 0;
	/*min-height: 180px;*/
	overflow: hidden;

}

.scrollBox {
	background: #222;
	width: 100%;
	overflow: hidden;
	/*min-height:180px;*/
}

.workElement {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	overflow: hidden;
}

.homeThumb1 {
	left: -40%;
}


.homeThumb2 {
	left: -40%;
}

.homeThumb3 {
	left: -40%;
}

.homeThumb4 {
	left: -40%;
}
.homeThumb5 {
	left: -40%;
}
.homeThumb6 {
	left: -40%;
}
.homeThumb7 {
	left: -40%;
}

.largeText {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: white;
	font-weight: 100;
	font-size: 17vw;
	position: absolute;
	display: none;
	width: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1;
}

.visable {
	display: inline;
}
/*------ABOUT/CONTACT-----*/

#aboutBar {
	height: auto;
	width: 100%;
	background: #222;

}

.aboutText {
	width: 90%;
	margin: 0 auto;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: #f8f8f8;
	text-align: center;
}

.aboutText h4{
	font-size: 50pt;
	margin: 0 auto 5px auto;
	padding-top: 50px;
	font-weight: 100;
	color: #f8f8f8;
}
.aboutText h3{
	margin-bottom: 20px;
}

.aboutText hr{
	width: 30%;
	margin: 0 35%;
	height: 1px;
}
.aboutText p{
	width: 525px;
	margin: 0 auto;
	padding-top: 20px;
	text-indent: 50px;
	text-align: left;
	padding-bottom: 50px;
	line-height: 22pt;
}

/*=====Oblivion Rising=====*/

#oblivionBar{
	min-width: 800px;
	padding: 20px auto;
	width: 100%;
	height: 300px;
	background: #f8f8f8;
	text-align: center;
	background: url(images/oblivionBackground.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

.oblivionWrapper h5{
	font-family: 'MKfont', Helvetica, Arial, sans-serif;
	font-size: 150px;
}

.oblivionWrapper{
	height: 200px;
	width: 100%;
	background: rgba(255,255,255,0.5);
	color: #222;
	padding: 50px 0;
}
.oblivionWrapper p{
	color: #222;
	font-weight: 300;
}

/*====CONTACT BOX========*/

#contactBox {
	width: 50%;
	display: inline-block;
	height: 300px;
}

#contactBox ul{
	padding-top: 20px;
}

#contactBox li{
	text-align: center;
	padding: 15px 0;
}


/*====SOCIAL BOX==========*/

#socialBox {
	width: 50%;
	display: inline-block;
	height: 300px;
	vertical-align: top;
}

#socialBox ul{
	padding-top: 20px;
}

#socialBox li{
	text-align: center;
	padding: 15px 0;
}

#socialBox a:hover{
	text-decoration: underline;
	color: #999;
}
/*======FOOTER====*/

#footer {
	background: #f8f8f8;
	height: 50px;
	width: 100%;
	clear: both;
}

.footerText{
	width: 100%;
	min-width: 600px;
	text-align: center;
}

.footerText li, .footerText a{
	margin: 0 auto;
	display: inline-block;
	padding: 0 2.5%;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	color: #222;
	text-decoration: none;
}

/*========== PORTFOLIO STYLING =========*/
.headerTitle{
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 1;
}
.headerTitle h3{
	width: 100%;
	color: white;
	font-family: 'MKfont', Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 50px;
}

.workJumbotron{
	width: 100%;
	height: 450px;
	background: #222;
	position: relative;
	overflow: hidden;
}
.workJumbotron img{
	width: 100%;
	position: absolute;
	bottom: -5%;
}

.activeSlide{
	display: static;
}

.slide{
	display: none;
}

.workCategories{
	width: 100%;
	height: 40px;
	background: #222;
}

.catNav {
	width: 100%;
	min-width: 400px;
	margin: 0 auto;
	text-align: center;
}
.catNav li{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 20px;
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	color: #f8f8f8;
}

.gallery{
	width: 100%;
}

.thumbnail{
	display: inline-block;
	float: left;
	width: 25%;
}
.thumbnail img{
	width: 100%;
	vertical-align: top;
}


/*==========================*/
/*Need to eventually adjust all "width-min" instead to adjust to this*/
@media only screen and (max-device-width : 1200px){

	#bodyColumn{
		min-width: 0;
	}

	/*Navigation Window*/
	#navButton{
		width: 150px;
		height: 150px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;

	}

	#navWindow{
		width: 100%;
		height: auto;
		position: fixed;
		z-index: 2;
		left: -100%;
	}

	.navText{
		width: 100%;
		height: 600px;
		min-width: 0;
		text-align: left;
		position: fixed;
		background: rgba(0,0,0,0.75);
	}

	.navText li{
		width: 100%;
		display: initial;
		text-align: center;
		padding: 0;
		/*vertical-align: middle;*/
	}

	.navText h3{
		color: #f8f8f8;
		font-size: 50pt;
		line-height: 120px;
		font-weight: 300;
		padding: 0 auto;
		height: 120px;
	}

	/*Jumbotron*/

	.jumbotron{ 
		background: #222;
		background-size: cover;
		height:600px;
	}
	
	.jumbotron img{
		position: absolute;
		width: 150%;
		left:-25%;
	}

	video { 
		display: none; 
	}

	.feastTitle {
		font-family: 'MKfont', Helvetica, Arial, sans-serif;
		position: absolute;
		font-size: 300px;
		width: 100%;
		text-align: center;
		line-height: 600px;
		z-index: 1;
		color: white;
	}

	.poster {
		width:100%;
		min-width: 0;
		margin-top: 0;
	}

	.largeText{
		display: initial;
	}

	.aboutText {
		width: 100%%;
		margin: 0;
	}

	.aboutText h4{
		font-size: 100pt;
	}

	h3{
		font-size: 50pt;
		font-weight: 100;
		color: #f8f8f8;
	}

	.aboutText p{
		width: 90%;
		text-indent: 50px;
		font-size: 40pt;
		line-height: 40pt;
	}

	.catNav {
	width: 100%;
	min-width: 0;
	}

	.footerText{
	width: 100%;
	min-width: 0;
	}
/*OBLIVION BAR*/

	#oblivionBar{
	min-width: 0;
	height: 600px;
	}

	.oblivionWrapper{
		width: 100%;
		padding: 0;
		height: 600px;
	}	
	.oblivionWrapper h5{
		font-size: 300px;
		height: 600px;
	}

	.oblivionWrapper p{
		display: none;
	}

	#contactBox {
		width: 50%;
		display: inline-block;
		height: 600px;
	}

	#contactBox ul{
		padding-top: 40px;
	}

	#contactBox li{
		text-align: center;
		padding: 30px 0;
	}
	#contactBox p{
		font-size: 40pt;
	}

	#contactBox li a{
		text-decoration: none;
		color: #999;
	}


	/*====SOCIAL BOX==========*/

	#socialBox {
		width: 50%;
		display: inline-block;
		height: 600px;
		vertical-align: top;
	}

	#socialBox ul{
		padding-top: 40px;
	}

	#socialBox li{
		text-align: center;
		padding: 30px 0;
	}

	#socialBox p{
		font-size: 40pt;
	}

	#socialBox a:hover{
		text-decoration: underline;
		color: #999;
	}

}



















