/*RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=======PERSONAL CODE STARTS HERE======*/

/*custom style add-ons*/

@font-face {
	font-family: 'MKfont';
	src: url('mortalkombat1.ttf') format('truetype');
}


/*div {
	border: 1px solid magenta;
	box-sizing: border-box;
}*/
/*for layout purposes*/



body {
	overflow-x: hidden;
	background-color: #222; 
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

#bodyColumn {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	min-width: 800px;
}

h3{
	font-size: 24pt;
	font-weight: 100;
	color: #f8f8f8;
}

a{
	text-decoration: none;
}

/*======= NAV BAR ======*/



#navButton{
	width: 75px;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}

#navWindow{
	width: 100%;
	height: 75px;
	background: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 2;
	left: -100%;
}

.navText{
	width: 100%;
	min-width: 600px;
	text-align: center;
	position: fixed;

}

.navText li{
	margin: auto auto;
	display: inline-block;
	padding: 0 2.5%;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
}

.navX{
	display: inline-block;
	width: 75px;
	position: absolute;
	line-height: 75px;
	height: 100px;
	text-align: center;
	z-index: 2;
	right: 0;
	font-weight: 100;
}

/*-----Jumbotron----*/

.jumbotron {
	/* background only for layout purposes*/
	background-color: #222;
	width:100%;
	height: 600px;
	overflow:hidden;
	position: relative;

}

#bgvid{
	position: absolute;
	left: -25%;
	bottom: -25px;
	width: 150%;
	height: auto;
	z-index: 0;
	background: url(images/feastintro2.jpg) no-repeat;
	background-size: cover;
	/*vertical-align: bottom;*/
}

.feastTitle {
	font-family: 'MKfont', Helvetica, Arial, sans-serif;
	position: absolute;
	font-size: 200px;
	width: 100%;
	text-align: center;
	margin: 200px auto;
	z-index: 1;
	color: white;
}

.poster {
	width:100%;
	/*min-height: 600px;*/
	min-width: 800px;
	margin-top: -30%;

}


/*---Index page Work bar---*/

#workBar {
	background: #222;
	width: 2400px;
	margin: 0;
	padding: 0;
	/*min-height: 180px;*/
	overflow: hidden;

}

.scrollBox {
	background: #222;
	width: 100%;
	overflow: hidden;
	min-height:180px;
}

.workElement {
	width: 40%;
	/*float: left;*/
	/*min-width: 320.391px;*/
	display: inline-block;
	max-width: 600px;
	vertical-align: top;
	position: absolute;
	overflow: hidden;
}

.homeThumb1 {
	left: -40%;
}


.homeThumb2 {
	left: -40%;
}

.homeThumb3 {
	left: -40%;
}

.homeThumb4 {
	left: -40%;
}
.homeThumb5 {
	left: -40%;
}
.homeThumb6 {
	left: -40%;
}
.homeThumb7 {
	left: -40%;
}

.largeText {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: white;
	font-weight: 100;
	font-size: 17vw;
	position: absolute;
	display: none;
	width: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1;
}

.visable {
	display: inline;
}
/*------ABOUT/CONTACT-----*/

#aboutBar {
	height: auto;
	width: 100%;
	background: #222;

}

.aboutText {
	width: 90%;
	margin: 0 auto;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: #f8f8f8;
	text-align: center;
}

.aboutText h4{
	font-size: 50pt;
	margin: 0 auto 5px auto;
	padding-top: 50px;
	font-weight: 100;
	color: #f8f8f8;
}
.aboutText h3{
	margin-bottom: 20px;
}

.aboutText hr{
	width: 30%;
	margin: 0 35%;
	height: 1px;
}
.aboutText p{
	width: 525px;
	color: #999;
	margin: 0 auto;
	padding-top: 20px;
	text-indent: 50px;
	font-size: 20pt;
	text-align: left;
	padding-bottom: 50px;
	font-weight: 100;
}

/*----Footer----*/

#footer {
	background: #222;
	height: 25px;
	width: 100%;
	position: absolute;
	clear:both;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: #f8f8f8;
	text-align: center;
}
/*========== PORTFOLIO STYLING =========*/
.headerTitle{
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 1;
}
.headerTitle h3{
	width: 100%;
	color: white;
	font-family: 'MKfont', Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 50px;
}

.workJumbotron{
	width: 100%;
	height: 450px;
	background: #222;
	position: relative;
	overflow: hidden;
}
.workJumbotron img{
	width: 100%;
	position: absolute;
	bottom: -5%;
}

.activeSlide{
	display: static;
}

.slide{
	display: none;
}

.workCategories{
	width: 100%;
	height: 40px;
	background: #222;
}

.catNav {
	width: 100%;
	min-width: 400px;
	margin: 0 auto;
	text-align: center;
}
.catNav li{
	color: #999;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 20px;
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
}

.gallery{
	width: 100%;
}

.thumbnail{
	display: inline-block;
	float: left;
	width: 25%;
}
.thumbnail img{
	width: 100%;
	vertical-align: top;
}


/*==========================*/
/*Need to eventually adjust all "width-min" instead to adjust to this*/
@media all and (max-width: 600px) {
	.jumbotron{ 
		background: #222;
		background-size: cover;
		height:300px;
	}
	.jumbotron img{
		position: absolute;
		width: 100vw;
		bottom: -5px;
	}

	#bgvid { 
		display: none; 
	}
	.feastTitle{
		position: relative;
		font-size: 35vw;
		left: 0s;
		top: 0;
		margin: 0;
		width:0;
			
	}
	.aboutText {
	width: 100%%;
	margin: 0;
	}


	.aboutText p{
		width: 90%;
		text-indent: 25px;
	}
	
	/*.thumbnail{
	width: 50%;*/
	}
}


















